body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rosybrown;
    color: rgb(31, 67, 117);
    font-style: italic;
    font-weight: bold;
    padding: 3pt;
    font-size: 18px;
}

main {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px;
}

footer {
    background-color: rosybrown;
    color: rgb(31, 67, 117);
    font-style: italic;
    font-weight: bold;
    padding: 3pt;
    font-size: 18px;
    text-align: right;
}

a {
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    background-color: rgb(98, 25, 25);
    color: beige;
    font-weight: bold;
}

a:visited {
    background-color: rgb(168, 156, 157);
    color: rgb(50, 50, 105);
}

a:hover {
    color: rgb(227, 8, 209);
    background-color: rgb(237, 192, 199);
    text-shadow: 4px 3px 15px rgb(54, 98, 139);
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0, 3;
}

div.menu {
    border: 7px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background-color: rgb(219, 163, 181);
}

div.menu:hover {
    background-color: palevioletred;
    box-shadow: 0 0 15px rgb(168, 64, 98);
}